@page "/"
@using PlcConnector;

<RenderableContentControl Context="PlcConnector.Entry.PlcController.MAIN._station001._sequence._currentStep"
                          Presentation="Vortex.Presentation.Blazor.Enums.PresentationType.Control" />

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @bind-value="PlcConnector.Entry.PlcController.MAIN._station001._sequence._switchToStep.Cyclic" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
</div>
<button class="btn btn-primary" @onclick="StepBackward_Click">Step back</button>
<button class="btn btn-primary" @onclick="StepIn_Click">Step in</button>
<button class="btn btn-primary" @onclick="StepForward_Click">Step back</button>

@code {    
    private void StepBackward_Click()
    {
        Entry.PlcController.MAIN._station001._sequence._stepModeControler._stepBackward._invokeRequest.Cyclic = true;
    }

    private void StepForward_Click()
    {
        Entry.PlcController.MAIN._station001._sequence._stepModeControler._stepForward._invokeRequest.Cyclic = true;
    }

    private void StepIn_Click()
    {
        Entry.PlcController.MAIN._station001._sequence._stepModeControler._stepIn._invokeRequest.Cyclic = true;
    }
}


@*<RenderableContentControl Context="PlcConnector.Entry.PlcController.MAIN._station001._sequence._stepModeControler"
                              Presentation="Vortex.Presentation.Blazor.Enums.PresentationType.Control">

    </RenderableContentControl>*@